<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.AlertDAO">

	<insert id="insertAlert" parameterType="AlertVO">
	    <selectKey keyProperty="alertId" resultType="int" order="BEFORE">
	        SELECT ALERT_SEQ.NEXTVAL FROM DUAL
	    </selectKey>
	    INSERT INTO ALERT (
	        ALERT_ID,
	        EMP_NO,
	        LINK_TYPE,
	        LINK_ID
	    ) VALUES (
	        #{alertId}, 
	        #{empNo},
	        #{linkType},
	        #{linkId}
	    )
	</insert>
	
	<select id="selectLatestAlerts" parameterType="String" resultType="AlertVO">
	    SELECT 
		    A.ALERT_ID,
		    A.EMP_NO,
		    A.LINK_TYPE,
		    A.LINK_ID,
		    A.CREATED_DATE,
		    A.IS_READ,
		    D.DOC_TITLE AS title,      
		    D.DOC_DATE AS sentTime,   
		    E.EMP_NAME AS senderName  
		FROM ALERT A
		LEFT JOIN DOC D ON A.LINK_ID = D.DOC_NO AND A.LINK_TYPE = 'APPROVAL'
		LEFT JOIN EMP E ON D.DOC_WRITER = E.EMP_NO
		
		WHERE A.EMP_NO = #{empNo}
		  AND A.IS_READ = 'N' 
		ORDER BY A.CREATED_DATE DESC
    </select>
    
    <update id="markAllAsRead" parameterType="String">
	    UPDATE 
	        ALERT
	    SET 
	        IS_READ = 'Y'
	    WHERE 
	        EMP_NO = #{empNo}
	        AND IS_READ = 'N'
	</update>

	<select id="selectUnreadCount" parameterType="String" resultType="int">
	    SELECT 
	        COUNT(ALERT_ID)
	    FROM 
	        ALERT
	    WHERE 
	        EMP_NO = #{empNo}
	        AND IS_READ = 'N'
	</select>
	
	<select id="selectAllLatestAlerts" parameterType="String" resultType="AlertVO">
	    SELECT 
	        A.ALERT_ID,
	        A.EMP_NO,
	        A.LINK_TYPE,
	        A.LINK_ID,
	        A.CREATED_DATE,
	        A.IS_READ,
	        D.DOC_TITLE AS title, 
	        D.DOC_DATE AS sentTime, 
	        E.EMP_NAME AS senderName, 
	        D.DOC_CONTENT AS content 
		FROM ALERT A
	    LEFT JOIN DOC D ON A.LINK_ID = D.DOC_NO AND A.LINK_TYPE = 'APPROVAL' 
	    LEFT JOIN EMP E ON D.DOC_WRITER = E.EMP_NO    
	    WHERE A.EMP_NO = #{empNo} 
	    ORDER BY A.CREATED_DATE DESC 
	    FETCH FIRST 50 ROWS ONLY 
    </select>

</mapper>