<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.DayAttendDAO">

	<select id="dayAttend" parameterType="java.util.Map"
		resultType="DayAttendVO">
		SELECT * FROM DAY_ATTEND
		WHERE EMP_NO = #{empNo} 
		AND TO_CHAR(FIRST_DAYTIME, 'YYYY-MM') = #{today}
	</select>
</mapper>