<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.BoardDAO">

	<select id="getGlobalNoticeList" resultType="NoticeBoardVO">
		SELECT
		N.NOTICE_NO,
		N.EMP_NO,
		TO_CHAR(N.NOTICE_DATE, 'YYYY-MM-DD') as NOTICE_DATE,
		N.NOTICE_TITLE,
		N.NOTICE_CNT,
		U.EMP_NAME AS NOTICE_WRITER,
		N.DEPT_NO,
		'전체' AS DEPT_NAME
		FROM NOTICE_BOARD N
		JOIN EMP U ON N.EMP_NO = U.EMP_NO
		WHERE N.DEPT_NO = 0
		ORDER BY N.NOTICE_NO DESC
	</select>

	<select id="getGlobalFreeBoardList" resultType="FreeBoardVO">
		SELECT
		F.BOARD_NO, 
		F.EMP_NO, 
		TO_CHAR(F.BOARD_DATE, 'YYYY-MM-DD') as BOARD_DATE, 
		F.BOARD_TITLE, F.BOARD_CNT,
		U.EMP_NAME AS BOARD_WRITER, 
		F.DEPT_NO, 
		'전체' AS DEPT_NAME
		FROM FREE_BOARD F
		JOIN EMP U ON F.EMP_NO = U.EMP_NO
		WHERE F.DEPT_NO = 0
		ORDER BY F.BOARD_NO DESC
	</select>

	<select id="getDeptNoticeList" resultType="NoticeBoardVO" parameterType="int">
		SELECT
		N.NOTICE_NO,
		N.EMP_NO,
		TO_CHAR(N.NOTICE_DATE, 'YYYY-MM-DD') as NOTICE_DATE,
		N.NOTICE_TITLE,
		N.NOTICE_CNT,
		U.EMP_NAME AS NOTICE_WRITER,
		N.DEPT_NO,
		D.DEPT_NAME
		FROM NOTICE_BOARD N
		JOIN EMP U ON N.EMP_NO = U.EMP_NO
		JOIN DEPT D ON N.DEPT_NO = D.DEPT_NO
		WHERE N.DEPT_NO IN (
		SELECT DEPT_NO
		FROM DEPT
		START WITH DEPT_NO = #{deptNo}
		CONNECT BY PRIOR DEPT_NO = PARENT_DEPT_NO
		)
		AND N.DEPT_NO != 0
		ORDER BY N.NOTICE_NO DESC
	</select>

	<select id="getDeptFreeBoardList" resultType="FreeBoardVO" parameterType="int">
		SELECT
		F.BOARD_NO,
		F.EMP_NO,
		TO_CHAR(F.BOARD_DATE, 'YYYY-MM-DD') as BOARD_DATE,
		F.BOARD_TITLE,
		F.BOARD_CNT,
		U.EMP_NAME AS BOARD_WRITER,
		F.DEPT_NO,
		D.DEPT_NAME
		FROM FREE_BOARD F
		JOIN EMP U ON F.EMP_NO = U.EMP_NO
		JOIN DEPT D ON F.DEPT_NO = D.DEPT_NO
		WHERE F.DEPT_NO IN (
		SELECT DEPT_NO
		FROM DEPT
		START WITH DEPT_NO = #{deptNo}
		CONNECT BY PRIOR DEPT_NO = PARENT_DEPT_NO
		)
		ORDER BY F.BOARD_NO DESC
	</select>

	<insert id="insertNoticeBoard" parameterType="NoticeBoardVO">
		<selectKey keyProperty="noticeNo" resultType="string" order="BEFORE">
	        SELECT NOTICE_NO_SEQ.NEXTVAL FROM DUAL
	    </selectKey>
		INSERT INTO NOTICE_BOARD (
	        NOTICE_NO, 
	        EMP_NO, 
	        NOTICE_CONTENT, 
	        NOTICE_DATE,
	        NOTICE_TITLE, 
	        NOTICE_CNT, 
	        NOTICE_WRITER, 
	        DEPT_NO
	    ) VALUES (
	        #{noticeNo}, #{empNo}, 
	        #{noticeContent}, 
	        SYSDATE,
	        #{noticeTitle}, 
	        0, 
	        #{noticeWriter}, 
	        #{deptNo}
	    )
	</insert>

	<update id="updateNoticeBoard" parameterType="NoticeBoardVO">
		UPDATE NOTICE_BOARD
		SET 
		NOTICE_TITLE = #{noticeTitle}, 
		NOTICE_CONTENT = #{noticeContent}
		WHERE NOTICE_NO = #{noticeNo}
	</update>

	<select id="getContentNoticeBoard" resultType="NoticeBoardVO" parameterType="string">
		SELECT * FROM NOTICE_BOARD WHERE NOTICE_NO = #{noticeNo}
	</select>

	<update id="updateNoticeCnt" parameterType="string">
		UPDATE NOTICE_BOARD SET NOTICE_CNT = NOTICE_CNT + 1 WHERE NOTICE_NO = #{noticeNo}
	</update>


	<insert id="insertFreeBoard" parameterType="FreeBoardVO">
		INSERT INTO FREE_BOARD (
		BOARD_NO, EMP_NO, BOARD_CONTENT, BOARD_DATE,
		BOARD_TITLE, BOARD_CNT, BOARD_WRITER, DEPT_NO
		) VALUES (
		BOARD_NO_SEQ.NEXTVAL, #{empNo}, #{boardContent}, SYSDATE,
		#{boardTitle}, 0, #{boardWriter}, #{deptNo}
		)
	</insert>

	<update id="updateFreeBoard" parameterType="FreeBoardVO">
		UPDATE FREE_BOARD
		SET BOARD_TITLE = #{boardTitle}, BOARD_CONTENT = #{boardContent}
		WHERE BOARD_NO = #{boardNo}
	</update>

	<select id="getContentFreeBoard" resultType="FreeBoardVO" parameterType="string">
		SELECT
		F.*, D.DEPT_NAME
		FROM FREE_BOARD F
		JOIN DEPT D ON F.DEPT_NO = D.DEPT_NO
		WHERE BOARD_NO = #{boardNo}
	</select>

	<update id="updateFreeBoardCnt" parameterType="string">
		UPDATE FREE_BOARD SET BOARD_CNT = BOARD_CNT + 1 WHERE BOARD_NO = #{boardNo}
	</update>

</mapper>