<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.domain.MemberVO">
	<select id="loginCheck" parameterType="MemberVO" resultType="MemberVO">
		SELECT *
		FROM  member
		where id=#{id} and pass=#{pass}		
	</select>
</mapper>