<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.MemberDAO">

	<select id="kakaoLoginInfo" parameterType="String"
		resultType="loginVO">
		SELECT *
		FROM emp		
		WHERE
		kakao_id =
		#{kakaoId}
	</select>

	<select id="loginCheck" parameterType="MemberVO"
		resultType="loginVO">
		SELECT *
		FROM EMP
		WHERE EMP_NO = #{empNo} and EMP_PASS =
		#{empPass}
	</select>

	<select id="memberCheck" parameterType="String"
		resultType="String">
		SELECT KAKAO_ID
		FROM EMP
		WHERE KAKAO_ID = #{kakaoId}
	</select>

	<select id="getNextMemberNo" resultType="java.lang.Long">
		SELECT
		MEMBER_SEQ.NEXTVAL FROM DUAL
	</select>


	<insert id="insertMember" parameterType="MemberSaveVO">
		UPDATE EMP
		SET
		KAKAO_ID =
		#{kakaoId},
		EMP_PASS = #{empPass},
		EMP_EMAIL = #{empEmail}
		WHERE EMP_NO =
		#{empNo}
	</insert>


</mapper>